.brand__wrapper {
  @include tablet {
    display: grid;
    grid-template-columns: 4fr 3fr;
    align-items: center;
    justify-items: end;
    gap: 36px;
  }

  @include laptop {
    gap: 48px;
  }
}

.brand__text {
  @include tablet {
    max-width: 343px;
    justify-self: flex-end;
  }
}

.brand__text--inverse {
  @include tablet {
    order: 1;
    padding-top: 58px;
    justify-self: start;
  }
}

.brand--full-width {
  margin-top: $padding-mobile;
  margin-bottom: $padding-mobile;

  @include laptop {
    margin-top: $padding-pc;
    margin-bottom: $padding-pc;
  }
}
