.catalog {
  margin-bottom: $padding-mobile;

  @include tablet {
    margin-bottom: $padding-pc;
  }

  &--accent {
    background: $white;
    padding: $padding-white 0;
  }
}

.catalog__wrapper {
  @include tablet {
    display: flex;
    flex-direction: column;
  }
}

// .catalog__title {
//   @include tablet {
//     order: 2;
//   }
// }

.catalog__list {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 36px;
  margin: 48px 0;

  @include tablet {
    grid-template-columns: repeat(3,1fr);
  }

  @include laptop {
    gap: 48px;
  }
}
