.catalog {
  margin-bottom: $padding-mobile;

  @include tablet {
    margin-bottom: $padding-pc;
  }

  &--accent {
    background: $white;
    padding: $padding-white 0;
  }
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 36px;
  margin-top: 48px;

  @include tablet {
    grid-template-columns: repeat(3,1fr);
  }

  @include laptop {
    gap: 48px;
    max-width: 1125px;
    margin-top: 56px;
  }
}
