.home .footer,
.product-page .footer {
  background-color: $white;
}

.footer {
  padding: 36px 0;

  @include laptop {
    padding: 0;
    height: 95px;
    display: flex;
    align-items: center;
  }
}

.footer__list {
  text-align: center;
}
