.header {
  background-color: $bg-color;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__wrapper {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include laptop {
    min-height: 90px;
  }
}

.header__menu {
  @include laptop {
    width: 100%;
    margin-right: 36px;
  }
}

.header__logo {
  font-size: 20px;
  text-transform: uppercase;
  padding: 4px 8px;
  position: relative;

  @include laptop {
    position: absolute;
    left: 50%;
    transform: translate(-55px, 0);
  }
}

.header--label .header__label {
  opacity: 1;
  transform: translate(-42px, 0);
}

.header__label {
  opacity: 0;
  transform: translate(-42px, 5px);
  color: $accent-color;
  font-size: 16px;
  text-transform: lowercase;
  position: absolute;
  left: 0;
  width: 200px;
  bottom: -20px;
  transition: $transition;
}
