.headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 125%;
  margin: 0;

  &--big {
    text-align: center;
    font-size: 64px;
    line-height: 1;

    @include laptop {
      font-size: 128px;
    }
  }
}


