.hero__slider {
  position: relative;

  @include tablet {
    display: flex;
    gap: 36px;
  }

  @include laptop {
    gap: 48px;
  }
}

.hero__circle,
.hero__circle--slide {
  position: relative;

  &::before,
  &::before {
    content: '';
    background-image: url(../img/circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 92px;
    height: 90px;
    position: absolute;
    top: -45px;
    right: 30px;
    z-index: 2;

    @include tablet {
      right: -45px;
    }

    @include laptop {
      width: 119px;
      height: 116px;
      top: -58px;
      right: -58px;
    }
  }
}

.hero__circle::before {
  display: none;

  @include mobile-only {
    display: block;
  }
}

.hero__circle--slide::before {
  display: block;

  @include mobile-only {
    display: none;
  }
}

.hero__circle .swiper {
  @include tablet {
    overflow: inherit;
  }
}

