.image-box {
  position: relative;
  margin-top: 24px;
  padding-top: 45px;

  @include tablet {
    margin-top: 0;
    padding-top: 58px;
  }

  &::before {
    content: '';
    background-image: url(../img/circle2.svg);
    background-size: cover;
    width: 92px;
    height: 90px;
    position: absolute;
    top: 0px;
    right: 30px;

    @include tablet {
      width: 119px;
      height: 116px;
      right: -58px;
    }
  }

}

.image-box__image {
  width: 100%;
  height: auto;
}
