.main-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  @include laptop {
    flex-direction: row;
    gap: 24px;
  }
}

.main-menu__item:nth-child(4) {
  @include laptop {
    margin-left: auto;
  }
}

.main-menu__link {
  position: relative;
  padding: 5px 0;

  &--count::before {
    content: attr(data-count);
    font-size: 14px;
    color: $accent-color;
    position: absolute;
    top: -12px;
    right: -8px;
    opacity: 0;
    transform: translate(0, 5px);
    transition: $transition;
  }

  &--count:hover::before {
    opacity: 1;
    transform: translate(0, 0);
  }
}
