.product-page {
  margin-top: 60px;

  @include laptop {
    margin-top: calc(90px + 72px);
  }
}

.product + .catalog {
  margin-bottom: 0;
}

.product {
  margin-bottom: $padding-mobile;

  @include laptop {
    margin-bottom: $padding-pc;
  }
}

.product__wrapper {
  @include laptop {
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 48px;
  }
}

.product__image {
  @include tablet-only {
    display: flex;
    justify-content: center;
  }
}

.product__info {
  margin-top: 48px;

  @include tablet-only {
    padding: 0 20%;
  }

  @include laptop {
    max-width: 343px;
    margin-top: 0;
  }
}

.product__name {
  display: flex;
  margin-bottom: 4px;
}

.product__object {
  color: $accent-color;
  margin-left: 12px;
}

.product__price {
  font-size: 20px;
  margin: 0;
  margin-top: 4px;
}

.product__color {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.product__button {
  margin-bottom: 36px;
}

.product__start {
  font-size: 16px;
  padding-left: 24px;
  background-image: url(../img/info.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px;
}

.product__delivery {
  font-size: 16px;
}

.product__tabs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 48px;
}
