.slider__caption {
  color: $accent-color;
  text-align: center;
}

.slider__item--center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__item--end {
  @include tablet {
    display: flex;
    align-items: flex-end;
  }
}
