.tab__button {
  text-align: left;
  font-size: 20px;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    width: 16px;
    height: 16px;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    bottom: 5px;
    transition: $transition;
  }

  &--open::after {
    transform: rotate(45deg);
  }
}

.tab__item {
  max-height: 0;
  overflow: hidden;
  transition: $transition;
  font-size: 16px;
  margin-bottom: 0;
  padding-right: 16px;
}

.tab__button--open + .tab__item {
  margin-bottom: 32px;
}
