.tab__button {
  text-align: left;
  font-size: 20px;
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.tab__button:first-child {
  margin-bottom: 24px;
}

.tab__item {
  display: none;
}
